<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>立委 avatar</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
        .media-object {
            width: 57px;
            border: 1px solid #b9b9b9;
            padding: 1px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>-->
    <script src="//more.handlino.com/javascripts/moretext-1.2.js"></script>
</head>
<body>
    <div class="container">
        <h1><a href="/" class="brand">立委 avatar</a></h1>
        <form class="form-search" method="get" action="/search">
            <input type="text" class="input-medium search-query" name="s">
            <button type="submit" class="btn">Search</button>
        </form>
        <div class="row">
            <div class="span7">
                <% 10.times do %>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="<%= @avatar[0]['src'] %>">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= @name if @name %> <img src="<%= @avatar[1]['src'] if @avatar[1] %>"></h4>
                        <p><span class="lipsum"></span></p>
                    </div>
                </div>
                <hr>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>

